.header{
    background-color: black;
    display: flex;
    width: 100%;
    height: 40px;
}
.header-left{
    width: 50%;
    display: flex;
}
.title{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.option{
    color: white;
    font-size: 18px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: white;
}
.header-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}
.search input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.search-button{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    color: white;
}
.body{
    width:90%;
    margin: 10px auto;
}
.body-title{
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    
}
.add-button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blue;
    cursor: pointer;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    width: 100%;
}
table{
    width: 100%;
}
td,th{
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 35px;
}
.edit-button{
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    
}
.del-button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 55px;
    height: 25px;
}
.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    z-index: 1000;
    width: 60%;
    height: 400px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;

}

.header-form{
    width: 100%;
    height: 50px;
    background-color: rgba(64, 64, 251, 0.797);
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.title-form{
    width: 50%;
    display: flex;
    padding-left: 15px;
    align-items: center;
}
.x{
    width:50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    align-items: center;
}
.row{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    gap:20px;
    flex-wrap: wrap;
    margin-top: 15px;
    
}
.input{
    width: 45%;
    display: flex;
    flex-direction: column;
}

.radio-group {
    display: flex;
    margin-top: 6px;
}
.row-1{
    display: flex;
    padding-left: 10px;
    width: 100%;
}
.radio-group label,input{
    display: inline-block!important;
    width: auto;
}
.footer-form{
    position: absolute;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-top: 1px solid #ccc;
}
.save-button{
    background-color: green;
    color: white;
    border: #ccc;
    border-radius: 5px;
    margin-top: 60px;
    margin-right: 10px;
    height: 25px;
}
.can-button{
    background-color: #ccc;
    color: white;
    border: #ccc;
    border-radius: 5px;
    margin-top: 60px;
    margin-right: 15px;
    height: 25px;
}
.ghost{
    display: block;
}
.overlay {
    position: fixed;
    inset: 0; 
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}
.active{
    opacity: 1;
    visibility: visible;
}