.header{
    background-color: black;
    display: flex;
    width: 100%;
    height: 40px;
}
.header-left{
    width: 50%;
    display: flex;
}
.title{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    font-weight: 700;
}
.option{
    color: white;
    font-size: 18px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 300;
}
a{
    text-decoration: none;
    color: white;
}
.header-right{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
}
.search input{
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
}
.search-button{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    color: white;
}
.body{
    width:90%;
    margin: 10px auto;
}
.body-title{
    width: 100%;
    height: 50px;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    
}
.add-button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blue;
    cursor: pointer;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    width: 100%;
}
table{
    width: 100%;
}
td,th{
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 35px;
}
.edit-button{
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 25px;
    
}
.del-button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    width: 55px;
    height: 25px;
}
.form{
    width: 80%;
    height: 350px;
    margin: auto;
    border: 1px solid black;
}
.header-form{
    width: 100%;
    height: 50px;
    background-color: rgba(64, 64, 251, 0.797);
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
}

.title-form{
    width: 50%;
    display: flex;
    padding-left: 15px;
    align-items: center;
}
.x{
    width:50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    align-items: center;
}
.row{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    gap:20px;
    flex-wrap: wrap;
}
.input{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.radio-group {
    display: flex;
    gap: 30px;
    margin-top: 6px;
}
