body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    box-sizing: border-box;
}
p{
    margin: 0px;
}
h1,h2,h3,h4,h5,h6{
    margin: 0px;
}
.container-top{
    height: 55vh;
    width: 100%;
    background-image: url("./images/ocean.jpg");
    background-size: cover;
    background-position: center;
}
.container-bot{
    height: 45vh;
    width: 100%;
}
.header{
    width: 100%;
    height: 30px;
    display: flex;
    padding-top: 15px;
}
.header-left{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: rgb(253, 200, 26);
    font-size: 25px;
}
.header-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.header-right ul{   
    display: flex;
    list-style: none;
}
.header-right ul li{
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: rgb(253, 200, 26);
}
.content{
    width: 100%;
    height: 100%;
}
.box{
    width:35%;
    height: 35%;
    border: 1px solid black;
    margin: 60px auto 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.604);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.button{
    width: 140px;
    height: 30px;
    background-color: rgb(255, 255, 43);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.highlight{
    width: 100%;
    height: 100%;
    background-color: rgba(93, 204, 249, 0.459);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.highlight h2{
    font-weight: 500;
}
.destination{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box1{
    width: 30%;
    height: 80%;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box1 img{
    width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 10px;
}
span{
    color: green;
}
.footer{
    width: 100%;
    height: 20%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer i{
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-size: 35px;
}