body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}
p{
    margin: 0;
    padding: 0;
    word-spacing: 3px;
    line-height: 1.8;
}
.header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    width: 30%;
    height: 100%;
    text-align: center;
}
.body{
    width: 90%;
    height: 70vh;
    display: flex;
    margin: 25px auto;
    gap: 15px;

}
.body-left{
    width: 30%;
    height: 100%;
    padding-left: 45px;
    padding-top: 15px;
    background-color: #fffdfd;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.body-right{
    width: 70%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}   
.title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 68%;
}
.description{
    width: 100%;
    height: 150px;
    font-size: 15px;
    width: 68%;
}
span{
    color: blue;
}
.paragraph{
    width: 100%;
    height: 100px;
    font-size: 19px;
    width: 88%;
}
.bold-text{
    font-weight: bold;
}