.header{
    width: 95%;
    height: 50px;
    border-left: 5px solid rgb(191, 11, 11);
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
body{
    margin: 0;
}
.title{
    margin-left: 10px;
    color: red;
}
h2{
    margin: 0;
}
.main{
    width: 95%;
    
    margin: 0 auto;
    height: 100%;
}
.row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    height: 50%;
    margin-bottom: 15px;
}
.box{
    width: 30%;
    height: 100%;
    padding-left: 10px;
}
.box .img{
    width: 100%;
    height: 150px;
}
.description{
    width: 100%;
    height: 30px;
}
.menu{
    width: 100%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.scholarship{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.scholarship i{
    color: red;
    margin-right: 10px;
}
.time{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.time i{
    color: red;
    margin-right: 10px;
}
.duration{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.duration i{
    color: red;
    margin-right: 10px;
}
p{
    margin: 0;
}
.description{
    width: 100%;
    height: 80px;
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}