body{
    box-sizing: border-box;
    background: linear-gradient(340deg , rgba(119, 255, 0, 0.382) , rgba(0, 229, 255, 0.179));
}
.container{
    width: 60%;
    height: 500px;
    border: 1px solid black;
    margin: 100px auto;
    background: linear-gradient(200deg , rgba(119, 255, 0, 0.382) , rgba(0, 229, 255, 0.179));
}
.form{
    width: 90%;
    height: 90%;
    border: 1px solid black;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(140deg , rgba(119, 255, 0, 0.382) , rgba(0, 229, 255, 0.179));
}
.box{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.box input{
    height: 30px;
    border-radius: 8px;
}
.error{
    display: none;
}
.hi{
    display: block;
}
.active{
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.786) , rgba(0, 17, 255, 0.501));
    color: white;
    border-color: rgb(21, 0, 255);
}
.btn{
    width: 100px;
    height: 35px;
    border-radius: 12px;
    background-color: rgb(0, 255, 76);
    color: rgb(248, 7, 7);
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    background-color: green;
    color: white;
}